body{
  background: seashell; 
  font-family: Arial, Helvetica, sans-serif
}
.center{
    margin: auto;
    width: 60%;
    padding: 16px;
}
p{
    color: rgb(98, 48, 12);
    padding: 16px;
    font-size: 18px;
    margin: 4px;
}
ul{
    color:rgb(98, 48, 12);
    font-size: 16px;
    list-style: circle;
    margin: 4px;
}
h1{
    color:rgb(119, 0, 0);
    font-size: 32px;
    padding: 4px;
    margin: 4px;
    font-weight: bolder;
}

h2{
    color: rgb(98, 48, 12);
    font-size: 24px;
    padding: 4px;
    margin: 4px;

}

.special{
    color:rgb(98, 48, 12);
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    
}
mark{
    color: rgb(98, 48, 12)
}
img{
    padding: 8px;
    border: 8px double rgb(119, 0, 0);
}
