* {
    box-sizing:border-box;
}

body{
    margin: 20px;
}

.box{
    background: lightblue;
    width: 200px;
    height: 200px;
    border: 2px solid;
    margin-top: 10px; 
}

.relative{
    position: relative;
    background: lightcoral;
    top: 100px;
    left: 100px;
}

.fixed{
    position: fixed;
    background: lightpink;
    bottom: 20px;
    right: 20px;
}

.absolute{
    position: absolute;
    background: lightsalmon;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}

.sticky{
    position:sticky;
    background:lightseagreen;
    top: 0px;
}